.recent-projects-single{  
    padding: 0;
}

.rps-trans-bg{
    background-color: rgba(0, 0, 0, 0.4); 
    padding: 30px 20px;
}

.rps-wrapper{
    background-color: rgb(255, 255, 255);  
    padding: 20px;
    height: 500px;
    overflow-x: hidden;
}

.rps-video-box{
    width: 100%;
} 

.rps-video{
    width: 100%;
} 

.rps-header{
    margin-bottom: 20px;
} 

.rps-contents-box > h2{ 
    margin-top: 20px;
}

.rps-contents-box > p{ 
    margin-top: 0;
}

.rps-contents-box > div{
    text-align: center;
    margin-top: 20px;
}

.rps-featured-img{
    width: 100%;
}

.liveDemoBtn{
    border-radius: 15px; 
    background-color: #090979;
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 10px 20px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;  
    display: inline-block;  
    text-decoration: none; 
} 

/*________RESPONSIVE - TABLET________________ */
@media (min-width: 760px) {  
    .rps-content-wrapper { 
      display: flex;
    }

    .rps-contents-box{
        width: 50%;
        margin-left: 40px;
    }

    .rps-contents-box > div{
       margin-top: 30px;
    }

    .rps-video-box{
        width: 50%;
    }
      
  }
  
  /*________RESPONSIVE - DESKTOP________________ */ 
  @media (min-width: 1024px) { 
  }
 