.tech-blog {
  background-color: white;
  padding: 50px 0;
  text-align: center;
} 

.tech-blog-box1 h2 { 
  margin-bottom: 10px;
}

.tech-blog-box1 p {
  margin-bottom: 30px;
}

.featuredBlogsWrapper {
  margin: 0 auto;
  padding: 0;
  width: 90%;
}

.featuredBlog {
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  background-color: #f9f9f9;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.featuredBlog img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.featuredBlog h3 {
  padding: 0;
} 
  

/* Slider control customizations */
.slick-prev{ 
  color: white; 
  background-color: black;
  font-size: 0;   
} 

.slick-next { 
  color: white; 
  background-color: black;
  font-size: 0;   
}

.slick-prev::before, .slick-next::before {
  font-size: 20px;
  color: rgb(255, 255, 255); 
  border-radius: 50%;
  z-index: +9999; 
}  

.slick-prev:hover, .slick-next:hover {
  background-color: #313131;
  color: white; 
}

.slick-dots li button:before {
  color: #3498db;
}

.slick-dots {
  bottom: -25px;
}
