.cursor {
    display: inline-block;
    font-size: 25px;
    font-weight: bolder;
    margin-right: 5px; 
    animation: blink 1s infinite;
}

.dynaTypeProp{ 
    margin: 25px 12px; 
    margin-top: 0;
    text-align: center; 
}
  
  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  /*________RESPONSIVE - TABLET________________ */
@media (min-width: 768px) {
  .dynaTypeProp{ 
    margin: 15px 0;  
    text-align: left;
  }
 
}

/*________RESPONSIVE - DESKTOP________________ */ 
@media (min-width: 1024px) {
  .dynaTypeProp{ 
    margin: 25px 0;
  }
}
  